// KeyKit by: gesty 🏄 
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

// Default Colors (light)
:root {
  --bg: #d5d6db;
  --text: #0f0f14;
  --red: #f7768e;
  --green: #485e30;
  --blue: #34548a;
  --black: #565a6e;

}

.dark {
  --bg: #24283b;
  --text: #c0caf5;
  --red: #f7768e;
  --green: #9ece6a;
  --blue: #7aa2f7;
  --black: #1a1b26;

  & h1 {
    text-shadow: 10px 10px 0 var(--black);
  }

  & .drum {
    color: var(--red);
    box-shadow: 0 5px 5px 0 var(--black);
    text-shadow: none;
  }

  & footer {
    text-shadow: 5px 5px 0 var(--black);
  }
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 4rem;
  text-shadow: 5px 5px 5px var(--blue);
  font-family: 'Gochi Hand', cursive;
  &:hover {
    color: var(--blue);
    animation: color-rotate 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: default;
  }
}

// Button Container Div
.kit {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

// Drum Buttons
.drum {
  width: 150px;
  height: 150px;
  font-size: 3rem;
  border: 2px solid var(--black);
  color: var(--red);
  text-shadow: 5px 5px 5px var(--text);

  &:hover {
    cursor: pointer;
    color: var(--blue);
  }
}

// on keypress/button press
.pressed {
  box-shadow: 0 5px 5px 0 var(--green);
  opacity: 0.5;
}

/* Drum Buttons: */
@mixin bg-opts {
  background-position: center;
  background-size: cover;
}
.s {
  background: url(../icons/rideOrCrash.webp);
  @include bg-opts;
}
.d {
  background: url(../icons/hihatOpen.webp);
  @include bg-opts;
}
.f {
  background: url(../icons/hihatClosed.webp);
  @include bg-opts;
}
.j {
  background: url(../icons/kick.webp);
  @include bg-opts;
}
.k {
  background: url(../icons/snare.webp);
  @include bg-opts;
}
.l {
  background: url(../icons/floorTom.webp);
  @include bg-opts;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-opts {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.volume-icon {
  width: 40px;
  fill: var(--text);
}

#volume-slide {
  width: 80%;
}

// Theme toggle
label[for="dark-mode-toggle"] {
  padding-block: 2rem;
  padding-left: 10rem;
  width: 100%;
}

.dark-mode-toggle {
  border: none;
  background-color: rgba(0,0,0,0);
  &:focus {
    cursor: pointer;
  }
}

.moon,
.sun {
  width: 40px;
  position: absolute;
  transform: translate(180%, -160%);
  fill: var(--text);
}

.moon {
  opacity: 0;
}
.dark .sun {
  opacity: 0;
}
.dark .moon {
  opacity: 1;
}

a {
  font-size: 2rem;
  color: var(--text);
  text-decoration: none;
  &:hover {
    color: var(--blue);
  }
}

.selfLink {
  font-family: 'Gochi Hand', cursive;
}

@media (max-width: 600px) {
  body {
    height: 100%;
  }
  .kit {
    flex-direction: column;
  }
}

/* Disco Animation */
@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
