* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --bg: #d5d6db;
  --text: #0f0f14;
  --red: #f7768e;
  --green: #485e30;
  --blue: #34548a;
  --black: #565a6e;
}

.dark {
  --bg: #24283b;
  --text: #c0caf5;
  --red: #f7768e;
  --green: #9ece6a;
  --blue: #7aa2f7;
  --black: #1a1b26;
}
.dark h1 {
  text-shadow: 10px 10px 0 var(--black);
}
.dark .drum {
  color: var(--red);
  box-shadow: 0 5px 5px 0 var(--black);
  text-shadow: none;
}
.dark footer {
  text-shadow: 5px 5px 0 var(--black);
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 4rem;
  text-shadow: 5px 5px 5px var(--blue);
  font-family: "Gochi Hand", cursive;
  display: flex;
}
h1:hover {
  color: var(--blue);
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: default;
}
h1:hover > .full-text {
  display: block;
}

.full-text {
  font-family: "Gochi Hand", cursive;
  display: none;
}

.kit {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.drum {
  width: 150px;
  height: 150px;
  font-size: 3rem;
  border: 2px solid var(--black);
  color: var(--red);
  text-shadow: 5px 5px 5px var(--text);
}
.drum:hover {
  cursor: pointer;
  color: var(--blue);
}

.pressed {
  box-shadow: 0 5px 5px 0 var(--green);
  opacity: 0.5;
}

/* Drum Buttons: */
.s {
  background: url(../icons/rideOrCrash.webp);
  background-position: center;
  background-size: cover;
}

.d {
  background: url(../icons/hihatOpen.webp);
  background-position: center;
  background-size: cover;
}

.f {
  background: url(../icons/hihatClosed.webp);
  background-position: center;
  background-size: cover;
}

.j {
  background: url(../icons/kick.webp);
  background-position: center;
  background-size: cover;
}

.k {
  background: url(../icons/snare.webp);
  background-position: center;
  background-size: cover;
}

.l {
  background: url(../icons/floorTom.webp);
  background-position: center;
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control-opts {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.volume-icon {
  width: 40px;
  fill: var(--text);
}

#volume-slide {
  width: 80%;
}

label[for=dark-mode-toggle] {
  padding-block: 2rem;
  padding-left: 10rem;
  width: 100%;
}

.dark-mode-toggle {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.dark-mode-toggle:focus {
  cursor: pointer;
}

.moon,
.sun {
  width: 40px;
  position: absolute;
  transform: translate(180%, -160%);
  fill: var(--text);
}

.sun {
  opacity: 0;
}

.dark .sun {
  opacity: 1;
}

.dark .moon {
  opacity: 0;
}

a {
  font-size: 2rem;
  color: var(--text);
  text-decoration: none;
}
a:hover {
  color: var(--blue);
}

.selfLink {
  font-family: "Gochi Hand", cursive;
}

@media (max-width: 600px) {
  body {
    height: 100%;
  }
  .kit {
    flex-direction: column;
  }
}
/* Disco Animation */
@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
